# SPDX-FileCopyrightText: The Ferrocene Developers
# SPDX-License-Identifier: MIT OR Apache-2.0

[submodule "docs/shared"]
	path = docs/shared
	url = https://github.com/ferrocene/sphinx-shared-resources
