# SPDX-FileCopyrightText: The Ferrocene Developers
# SPDX-License-Identifier: MIT OR Apache-2.0

[workspace]
members = [
    "crates/criticaltrust",
    "crates/criticalup-core",
    "crates/criticalup-cli",
    "crates/mock-download-server",
    "crates/criticalup-dev",
    "crates/criticalup",
]
resolver = "2"
exclude = ["docs/.linkchecker/src/tools/linkchecker"]
default-members = ["crates/criticalup"]

[workspace.dependencies]
futures = "0.3"
tempfile = "3"
tokio = { version = "1", features = ["macros", "rt-multi-thread", "fs", "process"] }
reqwest = { version = "0.12.8", default-features = false, features = ["blocking", "json", "rustls-tls", "rustls-tls-native-roots"] }
reqwest-middleware = "0.3"
reqwest-retry = "0.6"
tracing = "0.1"
tracing-subscriber = { version = "0.3", default-features = false, features = [
  "ansi",
  "env-filter",
  "json",
] }
walkdir = "2"

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
